*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.section{
    width: 99vw;
}

.section1{
    width: 100%;
    text-align: center;
}

.section1 img{
    width: 100%;
    height: 750px;
    object-fit: cover;
    
}
.first-h1{
    position: absolute;
    top: 20%;
    left: 30%;
    width: 40%;
    font-size: 3rem;
    color: white;
}

.second-h1{
    position: absolute;
    top: 35%;
    left: 30%;
    width: 40%;
    font-size: 3rem;
    color: white;
}

.section1 button{
    position: absolute;
    top: 54%;
    left: 42%;
    width: 15%;
    background-color: #FF9500;
    font-size: 1rem;
    padding: 20px 10px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    color: white;
}

.section2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.sec2-left{
    width: 55%;
}

.sec2-left h1{
    font-size: 3rem;
    color: #1c4792;
}
.sec2-content{
    width: 80%;
    margin: auto;
}
.sec2-content p{
    width: 70%;
}
.sec2-right{
    width: 45%;
    background-color: #EDEDED;
    height: 500px;
}