*{
    padding: 0;
    margin: 0;
}
.parent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    max-width: 1500px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding: 19px;
    background-color: rgb(204, 231, 240);
    
}
.class1{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: rgb(59, 59, 223);
    padding: 20px;
    border-radius: 3%;
    color: white;
}
.profile1{
    display: flex;
    padding-bottom: 10px;
}
.profile1 img{
    border-radius: 50%;
    width: 50px;
    padding-right: 10px;
}
.class1 h3{
    padding-bottom: 20px;
    padding-top: 10px;
}
.class2{
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: gray;
    padding: 20px;
    border-radius: 3%;
    color: rgb(245, 243, 243);
}
.profile2{
    display: flex;
    padding-bottom: 10px;
}
.profile2 img{
    border-radius: 50%;
    width: 30px;
    padding-right: 10px;
}
.class2 h3{
    padding-bottom: 20px;
    padding-top: 10px;
}
.class3{
    grid-column: 4/5;
    grid-row: 1/3;
    background-color: white;
    padding: 30px;
    border-radius: 3%;
    color: black;
}
.profile3{
    display: flex;
    padding-bottom: 20px;
}
.profile3 img{
    border-radius: 50%;
    width: 30px;
    padding-right: 10px;
}
.class3 h3{
    padding-bottom: 40px;
    padding-top: 20px;
}
.class4{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: white;
    padding: 30px;
    border-radius: 3%;
    color: black;
}
.profile4{
    display: flex;
    padding-bottom: 20px;
}
.profile4 img{
    border-radius: 50%;
    width: 30px;
    padding-right: 10px;
}
.class4 h3{
    padding-bottom: 40px;
    padding-top: 20px;
}
.class5{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: rgb(44, 2, 83);
    padding: 30px;
    border-radius: 3%;
    color: rgb(236, 234, 234);
}
.profile5{
    display: flex;
    padding-bottom: 20px;
}
.profile5 img{
    border-radius: 50%;
    width: 30px;
    padding-right: 10px;
}
.class5 h3{
    padding-bottom: 40px;
    padding-top: 20px;
}
@media screen and (max-width: 992px){
    .parent{
        grid-template-columns: 1fr 1fr;
    }

    .parent > div{
        grid-column: auto;
        grid-row: auto;
    }
}

@media screen and (max-width: 600px){
    .parent{
        grid-template-columns: 1fr;
    }
}
